
	<div class='blurb'>
	<table><tr><td width='47%'>
	<h1>About the Author</h1>
	<span class='blurbPost'>
I'm an undergraduate student at the University of Waterloo, pursuing a degree in mathematics and computer science. You can read more about me <a href='/about'>here</a>.</span>
	</td><td width='6%'>
	</td><td width='47%'>
	<h1>Read more on...</h1>
	<span class='blurbPost'><span class='tags'>
		<a href='/bunnies/'>BUNNIES</a>,
		<a href='/tags/#computerscience'>computer science</a>,
		<a href='/tags/#doodles'>doodles</a>,
		<a href='/tags/#inspiration'>inspiration</a>,
		<a href='/tags/#linguistics'>linguistics</a>,
		<a href='/tags/#literature'>literature</a>,
		<a href='/tags/#quotations'>quotations</a>,
		<a href='/tags/#rambles'>rambles</a>,
		<a href='/tags/#reblog'>reblog</a>,
		<a href='/tags/#school'>school</a></span>

	</span></tr></td></table>

	</div>
