<html>

	<head>
		<link href='http://fonts.googleapis.com/css?family=Lora|Cookie' rel='stylesheet' type='text/css'>
	
		<link href='/layout.css' rel='stylesheet' type='text/css'>		
		<link rel="icon" type="image/png" href="/images/favicon.png">
		<title>Katherine Tu .com</title>
		<meta name='Description' content='Katherine Tu is a computer science, mathematics and linguistics enthusiast.'>
		<meta name='keywords' content='katherine tu, katherinetu, katherinetu.com, computer science, linguistics'>
	</head>
	
	<body>
		<div class='header'>
			<h1 class='title'>
				<span class='dark'>katherine</span><span class='light'>tu</span>
			</h1>
			
			<span class='navigation'>
				<a href='/'>home</a>
				<a href='/about/'>about</a>
				<a href='/archive/'>archive</a>
				<a href='/contact/'>contact</a>
			</span>
			
			<div class="restore_flow"></div>
			
		</div>
	
