<div class='main'>
	<h1>
		{{ page.title }}	
	</h1>

	<span class='post'>
		{{ page.content }}
	</span>

	<table class='postFoot'><tr>
		<td class='postFootLeft'>
			<i>{{ page.date | date_to_long_string }}</i>
		</td>
		<td class='postFootRight'>

			tags:  
			{% for t in page.tags %}
			<a href='/tags/#{{ t }}'>{{ t }}</a>
			{% if forloop.last == false %}, {% endif %}
			{% endfor %}	
		</td></tr>
	</table>

		<div id="disqus_thread"></div>
		<script type="text/javascript">
    
   		 var disqus_shortname = 'katherinetu';
    
    		(function() {
        		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        		dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
			</script>

		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

		<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

</div>
